header{
    background-color:rebeccapurple;
    text-align: center;
    color: white;
    height: 60%;
}
.slider{
    background-color: royalblue;
    height: 400px;
    text-align: center;
    color: white;
}
.content{
    overflow: hidden;
}
.left{
   width: 50%;
   height: 250px;
   text-align: center;
   color: white;
   background-color: tomato;
   float: left;
}
.right{
    width: 50%;
    height: 250px;
    text-align: center;
    color: white;
    background-color: turquoise;
    float: left;
 }
 .iteam{
     overflow: hidden;
 }
 .iteam_one{
     width: 33.3%;
     height:150px ;
     text-align: center;
     color: white;
     float: left;
     background-color: violet;

 }
 .iteam_two{
    width: 33.3%;
    height:150px ;
    text-align: center;
    color: white;
    float: left;
    background-color: yellow;
 }
 .iteam_three{
    width: 33.3%;
    height:150px ;
    text-align: center;
    color: white;
    float: left;
    background-color: springgreen;
 }
 footer{
     width: 100%;
     height: 60px;
     background-color: springgreen;
     text-align: center;
     color: white;
 }
